<launch>
    <!--
    <arg name="multi_robot_name" default=""/>
    -->
    
    <node pkg="rosserial_arduino" name="service_core" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>
    <node pkg="cultivator_bringup" name="service_core" type="cultivator_service_core.py" output="screen" />
</launch>